@font-face {
    font-family: 'Pridi';
    src: url('Pridi-Medium.woff') format('woff'),
        url('Pridi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('Pridi-SemiBold.woff') format('woff'),
        url('Pridi-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('Pridi-Light.woff') format('woff'),
        url('Pridi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('Pridi-Regular.woff') format('woff'),
        url('Pridi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('Pridi-Bold.woff') format('woff'),
        url('Pridi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pridi';
    src: url('Pridi-ExtraLight.woff') format('woff'),
        url('Pridi-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

