<template>
    <div class="svk">
        <landing-section-header />
        <landing-section-introduction />
        <landing-section-subintro />
        <landing-section-process />
        <landing-section-loans />
        <landing-section-footer />
    </div>
</template>

<script>
import landingSectionHeader from "@/sections/landing-section-header";
import landingSectionIntroduction from "@/sections/landing-section-introduction";
import landingSectionSubintro from "@/sections/landing-section-subintro";
import landingSectionProcess from "@/sections/landing-section-process";
import landingSectionLoans from "@/sections/landing-section-loans";
import landingSectionFooter from "@/sections/landing-section-footer";

export default {
    name: "App",
    components: {
        landingSectionHeader,
        landingSectionIntroduction,
        landingSectionSubintro,
        landingSectionProcess,
        landingSectionLoans,
        landingSectionFooter,
    },
};
</script>
