<template>
    <section class="svk-features">
        <div class="svk-features__content container">
            <h2 class="svk-features__title">“Suv resusrlaridan foydalanish samaradorligini oshirish bo’yicha kechiktirib bo’lmaydigan chora- tadbirlar to’g’risida”</h2>

            <p class="svk-features__desc">Mamlakatimizda suv resurslaridan samarali foydalanishni ta’minlash, qishloq xo‘jaligi ekinlarini yetishtirishda suvni tejaydigan texnologiyalarni keng joriy etish hamda ularni davlat tomonidan qo‘llab-quvvatlash, shuningdek, sug‘oriladigan yerlarning meliorativ holatini yaxshilash bo‘yicha tizimli chora-tadbirlar amalga oshirilmoqda.</p>

            <img
                class="svk-features__image"
                src="@/assets/icons/intro-icons/image-4.jpeg"
                alt="images" />

            <p class="svk-features__desc">Ushbu chora-tadbirlar natijasida bugungi kunda suvni tejaydigan texnologiyalar qamrab olgan maydon sug‘oriladigan maydonlarning qariyb 25 foizini tashkil qilib, buning hisobiga 2022-yilda 3 mlrd kub metr suv iqtisod qilindi hamda 830 ming gektar takroriy ekin maydonlarini sug‘orishga yo‘naltirildi.</p>
        </div>
    </section>
</template>

<script>
export default {
    name: "sectionIntroduction",
};
</script>
