<template>
    <section class="svk-loans">
        <div class="svk-loans__content container">
            <div class="svk-loans__titling">
                <h2 class="svk-loans__title">Kreditlar</h2>
                <p class="svk-loans__desc">лучший способ получить деньги в долг без справок и поручителей на любые цели: ремонт, образование, отдых или любые другие покупки. Удобный расчет на калькуляторе и оформление онлайнƒ</p>
            </div>

            <div class="svk-loans__list">
                <div
                    v-for="(item, index) in loans"
                    :key="index"
                    class="svk-loan">
                    <div class="svk-loan__content">
                        <div class="svk-loan__body">
                            <img
                                :src="item.bankLogo"
                                alt="bank"
                                class="svk-loan__bank" />

                            <h3 class="svk-loan__title">{{ item.title }}</h3>

                            <div class="svk-loan__statistics">
                                <div class="svk-loan__statistic">
                                    <img
                                        src="@/assets/icons/loans-icons/staticon-1.svg"
                                        alt="icon"
                                        class="svk-loan__statistic-icon" />
                                    <p class="svk-loan__statistic-label">{{ item.amount }}</p>
                                    <p class="svk-loan__statistic-desc">Kredit miqdori</p>
                                </div>
                                <div class="svk-loan__statistic">
                                    <img
                                        src="@/assets/icons/loans-icons/staticon-2.svg"
                                        alt="icon"
                                        class="svk-loan__statistic-icon" />
                                    <p class="svk-loan__statistic-label">{{ item.duration }}</p>
                                    <p class="svk-loan__statistic-desc">Muddati</p>
                                </div>
                                <div class="svk-loan__statistic">
                                    <img
                                        src="@/assets/icons/loans-icons/staticon-3.svg"
                                        alt="icon"
                                        class="svk-loan__statistic-icon" />
                                    <p class="svk-loan__statistic-label">{{ item.currency }}</p>
                                    <p class="svk-loan__statistic-desc">Valyuta</p>
                                </div>
                                <div class="svk-loan__statistic">
                                    <img
                                        src="@/assets/icons/loans-icons/staticon-4.svg"
                                        alt="icon"
                                        class="svk-loan__statistic-icon" />
                                    <p class="svk-loan__statistic-label">{{ item.percent }}</p>
                                    <p class="svk-loan__statistic-desc">Foizi</p>
                                </div>
                            </div>

                            <landing-component-btn
                                class="svk-loan__btn"
                                :btnText="'Ariza yuborish'"
                                :btnLink="'#!'"
                                :btnTarget="true" />
                        </div>
                        <div class="svk-loan__image">
                            <img
                                class="svk-loan__image-file"
                                :style="{animationDelay: `-${index}s`}"
                                :src="item.image"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-component-btn.vue";

export default {
    name: "sectionLoans",
    components: {
        landingComponentBtn,
    },
    data() {
        return {
            loans: [
                {
                    bankLogo: require("@/assets/icons/loans-icons/bank-1.svg"),
                    title: "AgroMoliya 2023",
                    amount: "1 milliongacha",
                    duration: "24 oy",
                    currency: "UZS",
                    percent: "10%",
                    link: "#!",
                    image: require("@/assets/icons/loans-icons/loantype-1.png"),
                },
                {
                    bankLogo: require("@/assets/icons/loans-icons/bank-1.svg"),
                    title: "Yashil Ekinlar",
                    amount: "500 000 gacha",
                    duration: "18 oy",
                    currency: "UZS",
                    percent: "8%",
                    link: "#!",
                    image: require("@/assets/icons/loans-icons/loantype-2.png"),
                },
                {
                    bankLogo: require("@/assets/icons/loans-icons/bank-1.svg"),
                    title: "Hosilni Moliyalashtirish",
                    amount: "2 milliongacha",
                    duration: "36 oy",
                    currency: "UZS",
                    percent: "12%",
                    link: "#!",
                    image: require("@/assets/icons/loans-icons/loantype-3.png"),
                },
                {
                    bankLogo: require("@/assets/icons/loans-icons/bank-1.svg"),
                    title: "Qishloq Yordami",
                    amount: "1,5 milliongacha",
                    duration: "12 oy",
                    currency: "UZS",
                    percent: "7%",
                    link: "#!",
                    image: require("@/assets/icons/loans-icons/loantype-4.png"),
                },
                {
                    bankLogo: require("@/assets/icons/loans-icons/bank-1.svg"),
                    title: "Agrovod 2023",
                    amount: "1,5 milliongacha",
                    duration: "12 oy",
                    currency: "UZS",
                    percent: "7%",
                    link: "#!",
                    image: require("@/assets/icons/loans-icons/loantype-5.png"),
                },
            ],
        };
    },
};
</script>
