<template>
    <section class="svk-process">
        <div class="svk-process__content container">
            <div class="svk-process__titling">
                <h2 class="svk-process__title">Arizalarni ko’rib chiqish tartibi</h2>
                <p class="svk-process__desc">Маркетингово-ориентированное издание специфицирует инвестиционный продукт. Один из признанных классиков маркетинга</p>
            </div>
            <div
                ref="process__slider"
                class="svk-process__slider">
                <div class="swiper-wrapper">
                    <div
                        v-for="(item, index) in processes"
                        :key="index"
                        class="svk-process__slide svk-processlide swiper-slide">
                        <div class="svk-processlide__content">
                            <div class="svk-processlide__icon">
                                <img
                                    class="svk-processlide__icon-file"
                                    :src="item.icon"
                                    alt="icon" />
                            </div>
                            <h3 class="svk-processlide__title">{{ item.label }}</h3>
                            <p class="svk-processlide__desc">{{ item.desc }}</p>
                            <a
                                :href="item.link"
                                class="svk-processlide__link">
                                <p class="svk-processlide__link-text">Batafsil</p>
                                <img
                                    class="svk-processlide__link-icon"
                                    src="@/assets/icons/process-icons/icon-arrow.svg"
                                    alt="arrows" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Swiper, {Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "sectionProcess",
    data() {
        return {
            processes: [
                {
                    label: "Elektron tarzda ariza qoldirish",
                    desc: "Kredit olish uchun arizachining shaxsga doir ma’lumotlari, kutilayotgan xarajatlar va daromadlar elektron ariza shaklida tayyorlanib telefon raqami bilan tasdiqlanadi",
                    link: "#!",
                    icon: require("@/assets/icons/process-icons/slide-1.svg"),
                },
                {
                    label: "Skoring tahlili",
                    desc: "Arizalar inson omilisiz, skoring baholash natijalariga ko‘ra avtomatlashtirilgan holda, arizachining kredit tarixi, muomulaga layoqatligi, soliq organlari, majburiy ijro byurosi organlari va boshqa to‘lovlardan qarzdorligi tekshiriladi.",
                    link: "#!",
                    icon: require("@/assets/icons/process-icons/slide-2.svg"),
                },
                {
                    label: "Tuman Suv xo'jaligi boshlig’i tomonidan ko'rib chiqish",
                    desc: "Arizachining faoliyat turi bo‘yicha shart-sharoitlari, imkoniyati hamda yetarli ko‘nikmasi mavjudligini o‘rganib xulosani beradi.",
                    link: "#!",
                    icon: require("@/assets/icons/process-icons/slide-3.svg"),
                },
                {
                    label: "Ta’minotchi bilan mahsulot yetqazib berish bo’yicha shartnoma imzolash",
                    desc: "AgroZamin platformasidan ta’minotchi tanlanadi. Mijoz va tanlangan ta’minotchi o’rtasida ERI orqali shartnomasi imzolanadi.",
                    link: "#!",
                    icon: require("@/assets/icons/process-icons/slide-4.svg"),
                },
                {
                    label: "Kafillik shartnomasi imzolash",
                    desc: "Kafillik shartnomasini imzolash ERI orqali mijoz imzolashi, klasterga xizmat ko’rsatuvchi bank tomonidan izmolanishi, klaster tomonidan imzolanishi, Tadbirkorlik jamg’armasi tomonidan imzolanishi tartibida amalga oshiriladi.",
                    link: "#!",
                    icon: require("@/assets/icons/process-icons/slide-5.svg"),
                },
            ],
        };
    },
    mounted() {
        new Swiper(this.$refs.process__slider, {
            modules: [Autoplay],
            loop: false,
            slidesPerView: 3,
            spaceBetween: 30,

            // breakpoints: {
            //     576: {
            //         spaceBetween: 40,
            //     },
            // },
        });
    },
};
</script>
