<template>
    <section class="svk-intro">
        <div class="svk-intr__content container"></div>
    </section>
</template>

<script>
// import landingComponentBtn from "@/components/landing-component-btn.vue";

export default {
    name: "sectionIntroduction",
    components: {
        // landingComponentBtn,
    },
};
</script>
