<template>
    <header>
        <div
            class="svk-header"
            :class="{scrolled: isScrolled, opened: isMobile}">
            <div class="svk-header__top svk-topheader">
                <div class="svk-topheader__content container">
                    <div class="svk-topheader__links">
                        <a
                            href="#!"
                            class="svk-topheader__link">
                            Hamkorlik
                        </a>

                        <a
                            href="#!"
                            class="svk-topheader__link">
                            Yordam
                        </a>

                        <a
                            href="#!"
                            class="svk-topheader__link">
                            Bank mahsulotlari
                        </a>

                        <a
                            href="#!"
                            class="svk-topheader__link">
                            Agroservis
                        </a>
                    </div>
                    <div class="svk-topheader__actions">
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/icons/header-icons/icon-call.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">(78) 150-00-88</p>
                        </a>
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/icons/header-icons/icon-chat.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">On-line chat</p>
                        </a>
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/icons/header-icons/icon-rate-down.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">USD 10 677.66</p>
                        </a>
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/icons/header-icons/icon-weather-sunny.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">27 °C</p>
                        </a>
                    </div>
                    <div class="svk-topheader__lang svk-langwrapper">
                        <div class="svk-lang">
                            <div class="svk-lang__toggler">
                                <p class="svk-lang__toggler-label">Til: O'zbekcha</p>
                            </div>

                            <div class="svk-lang__body">
                                <ul class="svk-lang__list">
                                    <li
                                        v-for="(item, index) in 4"
                                        :key="index"
                                        class="svk-lang__item">
                                        <img
                                            src="@/assets/icons/header-icons/icon-la.svg"
                                            alt="lang"
                                            class="svk-lang__item-icon" />
                                        <p class="svk-lang__item-label">O'zbekcha</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svk-header__main">
                <div class="svk-header__content container">
                    <div class="svk-header__logo">
                        <a
                            class="svk-header__logo-link"
                            @click="$scrollToSection('introduction')">
                            <img
                                class="svk-header__logo-image"
                                src="@/assets/icons/header-icons/logo-main.svg"
                                alt="Unisale logo" />
                        </a>
                    </div>

                    <div class="svk-header__nav">
                        <ul class="svk-header__nav-links">
                            <li class="svk-header__link">
                                <a
                                    @click="$scrollToSection('engagement')"
                                    data-text="Loyiha haqida"
                                    class="svk-header__link-txt">
                                    Loyiha haqida
                                </a>
                            </li>
                            <li class="svk-header__link">
                                <a
                                    @click="$scrollToSection('howitworks')"
                                    data-text="Kreditlar"
                                    class="svk-header__link-txt">
                                    Kreditlar
                                </a>
                            </li>
                            <li class="svk-header__link">
                                <a
                                    @click="$scrollToSection('joinus')"
                                    data-text="Ma'lumot"
                                    class="svk-header__link-txt">
                                    Ma'lumot
                                </a>
                            </li>
                            <li class="svk-header__link">
                                <a
                                    @click="$scrollToSection('joinus')"
                                    data-text="Yangiliklar"
                                    class="svk-header__link-txt">
                                    Yangiliklar
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="svk-header__actions">
                        <!-- actions -->
                        <landing-component-btn
                            class="svk-header__action-btn secondary squared"
                            :btnLink="'#!'"
                            :btnTarget="true"
                            :btnLeftIcon="image2" />
                        <landing-component-btn
                            class="svk-header__action-btn"
                            :btnText="'Kirish'"
                            :btnLink="'#!'"
                            :btnTarget="true"
                            :btnLeftIcon="image1" />
                    </div>

                    <div class="svk-header__mobile">
                        <span
                            class="svk-header__mobile-btn"
                            @click="openMobile"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import landingComponentBtn from "@/components/landing-component-btn.vue";

export default {
    name: "sectionHeader",
    components: {
        landingComponentBtn,
    },
    data() {
        return {
            isScrolled: false,
            isMobile: false,

            image1: require("@/assets/icons/header-icons/icon-login.svg"),
            image2: require("@/assets/icons/header-icons/icon-login2.svg"),
        };
    },
    mounted() {
        ["mousewheel", "scroll"].forEach((evt) => window.addEventListener(evt, this.handleScroll, false));
    },
    methods: {
        handleScroll() {
            let screenWidth = window.innerWidth;
            if (screenWidth < 577) return;

            if (window.pageYOffset > 115) {
                this.isScrolled = true;
            } else if (this.isScrolled && window.pageYOffset <= 115 && window.pageYOffset > 40) {
                return;
            } else {
                this.isScrolled = false;
            }
        },
        openMobile() {
            this.isMobile = !this.isMobile;
        },
    },
};
</script>
