<template>
    <section class="svk-intro">
        <div class="svk-intr__content container">
            <div class="svk-intro__greeting">
                <h1 class="svk-intro__greeting-title">Hosildorlik uchun dala suv ta’minotini moliyalashitirish</h1>
                <p class="svk-intro__greeting-desc">Qishloq xo'jaligi ekinlarining optimal suv ta'minoti va farovonligini ta'minlash uchun kreditlar va moliyaviy echimlar.</p>

                <div class="svk-intro__greeting-actions">
                    <landing-component-btn
                        class="svk-intro__greeting-btn secondary"
                        :btnText="'Arizani tekshirish'"
                        :btnLink="'#!'"
                        :btnTarget="true" />
                    <landing-component-btn
                        class="svk-intro__greeting-btn"
                        :btnText="'Ariza yuborish'"
                        :btnLink="'#!'"
                        :btnTarget="true" />
                </div>
            </div>
            <div class="svk-intro__images">
                <img
                    class="svk-intro__image"
                    src="@/assets/icons/intro-icons/image-1.png"
                    alt="image" />
                <img
                    class="svk-intro__image"
                    src="@/assets/icons/intro-icons/image-2.png"
                    alt="image" />
                <img
                    v-parallax="0.9"
                    class="svk-intro__image"
                    src="@/assets/icons/intro-icons/image-3.png"
                    alt="image" />
                <div class="svk-intro__bgs">
                    <span class="svk-intro__bg"></span>
                    <span class="svk-intro__bg"></span>
                    <span class="svk-intro__bg"></span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-component-btn.vue";

export default {
    name: "sectionIntroduction",
    components: {
        landingComponentBtn,
    },
};
</script>
