@import url("@/assets/fonts/montserratwf/stylesheet.css");
@import url("@/assets/fonts/pridiwf/stylesheet.css");

*,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Montserrat", sans-serif;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(28, 79, 209, 0.5);
        border-radius: 10px;
    }
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

img {
    display: flex;
}

section {
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"] {
    accent-color: #1b4fd0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.svk {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

body {
    background: #f4f8ff;
    perspective: 1px;
    min-width: 320px;
    // overflow: scroll;
}

@media (max-width: 1250px) {
    .container {
        width: 100%;
        max-width: 992px;
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .main {
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    * {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: unset;
    }
}
