.svk-loans {
    padding: 50px 0;

    &__titling {
        text-align: center;
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    &__title {
        color: #023b8b;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
    }

    &__desc {
        color: #323b49;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
}

.svk-loan {
    width: 100%;

    &__content {
        border-radius: 32px;
        background: #fff;
        overflow: hidden;
        height: 350px;
        // padding: 30px;
        display: flex;
        align-items: center;
    }

    &__image {
        height: 100%;
        overflow: hidden;
        margin: 0 30px 0 auto;
        flex-shrink: 0;
        animation: pulse 17s infinite ease-in-out;

        &-file {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: translateY(60px);
        }
    }

    &__body {
        flex-grow: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px;
        gap: 25px;
    }

    &__bank {
        width: 180px;
        height: 60px;
        object-fit: contain;
    }

    &__statistics {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 30px;
        margin: 0 0 auto 0;
    }

    &__statistic {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 10px 0 55px;
        position: relative;
        flex-shrink: 0;

        &-icon {
            position: absolute;
            left: 0;
            width: 45px;
            height: 45px;
        }

        &-label {
            color: #1f2937;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */

            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
        }

        &-desc {
            color: #718096;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 19.2px */

            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
        }

        &:nth-child(1) {
            width: 35%;
        }
        // &:nth-child(2) {
        //     width: 25%;
        // }
        // &:nth-child(3) {
        //     width: 25%;
        // }
        // &:nth-child(4) {
        //     width: 150px;
        // }
    }

    &__title {
        color: #1f2937;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        flex-shrink: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        box-orient: vertical;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.05) rotate(2deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}
