.svk-process {
    padding: 50px 0;

    &__titling {
        text-align: center;
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    &__title {
        color: #023b8b;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
    }

    &__desc {
        color: #323b49;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

.svk-processlide {
    &__content {
        cursor: pointer;
        border-radius: 32px;
        background: #fff;
        min-height: 420px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        text-align: center;
    }

    &__title {
        color: #1f2937;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }

    &__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        line-clamp: 7;
        box-orient: vertical;
        margin-bottom: auto;
    }

    &__link {
        cursor: pointer;
        border: 2px solid #eeeff2;
        min-width: 55px;
        max-width: 55px;
        height: 55px;
        flex-shrink: 0;
        flex-shrink: 0;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 10px;
        transition: 0.3s;

        &-text {
            font-size: 14px;
            font-weight: 600;
            color: #023b8b;
            transition: 0.3s;
            white-space: nowrap;
            max-width: 0;
            overflow: hidden;
        }

        &-icon {
            transition: 0.3s;
        }

        &:hover {
            padding: 10px 20px 10px 25px;
            max-width: 150px;

            .svk-processlide__link {
                &-text {
                    max-width: 100px;
                    flex-shrink: 0;
                    margin-right: 10px;
                }
            }
        }
    }
}
