header {
    height: 0;
    position: relative;
    z-index: 9;
}

.svk-header {
    height: 115px;
    transition: 0.3s;
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;

    &__main {
        flex-grow: 1;
        overflow: hidden;
    }

    &__content {
        height: 100%;
        display: flex;
        gap: 35px;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        z-index: 1;
    }

    &__logo {
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        margin: 0 auto 0 0;

        &-link {
            width: 100%;
            display: flex;
            transition: 0.3s;
            height: 100%;

            &:hover {
                opacity: 0.7;
            }
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

    &__nav {
        &-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
        }
    }

    &__link {
        cursor: pointer;

        &-txt {
            transition: transform 0.3s;
            transform-origin: 50% 0;
            transform-style: preserve-3d;
            position: relative;
            display: inline-block;
            transition: 0.3s;

            color: #323b49;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }

        &-txt::before {
            position: absolute;
            content: attr(data-text);
            transform: rotateX(-90deg);
            transform-origin: 50% 0;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            color: #377be1;
        }

        &:hover & {
            &-txt {
                transform: rotateX(90deg);
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 10px;
    }

    &__mobile {
        display: none;
    }

    &.scrolled {
        position: fixed;
        z-index: 9;
        top: -40px;
        left: 0;
        right: 0;
        transform: translateY(-115px);
        box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.1);
        animation: headerAppear 0.3s 1 ease-in-out forwards;
        background: #ffffff;
    }
}

.svk-topheader {
    background: #fff;
    flex-shrink: 0;

    &__content {
        height: 40px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        display: flex;
        gap: 20px;
        margin: 0 auto 0 0;
    }

    &__link {
        color: #718096;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__actions {
        display: flex;
        height: 100%;
        align-items: center;
        overflow: hidden;
        gap: 20px;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: 0.3s;
        gap: 8px;

        &-icon {
            width: 20px;
            height: 20px;
            display: flex;
            object-fit: contain;
        }

        &-text {
            color: #1f2937;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }

        &:hover {
            opacity: 0.6;
        }
    }
}

.svk-lang {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &__toggler {
        min-width: 145px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        cursor: pointer;

        &-label {
            color: #1f2937;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }

        &::after {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            background: url("@/assets/icons/header-icons/icon-arrow-dropdown.svg") no-repeat center center;
            transition: 0.3s;
        }
    }

    &wrapper {
        height: 30px;
    }

    &__body {
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        position: absolute;
        top: 100%;
        right: 0;
        background: #ffffff;
        box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        z-index: 2;
        width: 150px;
        padding: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: 0.3s;

        &-icon {
            display: flex;
            object-fit: cover;
            height: 15px;
            flex-shrink: 0;
        }

        &-label {
            color: #1f2937;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 17.5px */
        }

        &:hover {
            opacity: 0.6;
        }
    }

    &:hover {
        .svk-lang {
            &__toggler {
                &::after {
                    transform: rotate(180deg);
                }
            }

            &__body {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

@keyframes headerAppear {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

// @media (max-width: 1250px) {
//     .header {
//         &__content {
//             gap: 25px;
//         }

//         &__nav {
//             &-links {
//                 gap: 15px;
//                 justify-content: space-between;
//             }
//         }

//         &__link {
//             &-txt {
//                 font-size: 14px;
//             }
//         }

//         &__actions {
//             width: 25%;
//         }
//     }
// }

// @media (max-width: 992px) {
//     .header {
//         &__nav {
//             position: fixed;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             gap: 25px;
//             transform: translateX(-100%);
//             transition: 0.4s;
//             top: 100px;
//             left: 0;
//             right: 0;
//             max-height: calc(100vh - 100px);
//             padding: 50px 50px 150px 50px;
//             background: #ffffff;
//             border-bottom: 1px solid rgba(29, 30, 44, 0.15);

//             &-links {
//                 flex-direction: column;
//                 align-items: flex-start;
//                 width: 280px;
//                 gap: 30px;
//             }
//         }

//         &__logo {
//             width: 250px;
//         }

//         &__link {
//             &-txt {
//                 color: #000;
//                 text-align: center;
//                 font-family: "Red Rose";
//                 font-size: 30px;
//                 font-style: normal;
//                 font-weight: 400;
//                 line-height: 38px; /* 126.667% */
//             }

//             &.price {
//                 display: none;
//             }
//         }

//         &__actions {
//             position: fixed;
//             transform: translateX(-100%);
//             transition: 0.4s;
//             top: 435px;
//             left: 0;
//             right: 0;
//             width: auto;
//             height: auto;
//             justify-content: center;
//         }

//         &__mobile {
//             display: flex;

//             &-btn {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 transition: 0.3s;
//                 width: 50px;
//                 height: 50px;
//                 // background: url("@/assets/icons/header-icons/icon-burger-open.svg") no-repeat center center/contain;
//             }
//         }

//         &__contacts {
//             display: flex;
//             align-items: center;
//             gap: 15px;
//             height: 50px;
//             width: 280px;
//         }

//         &__contact {
//             width: 40px;
//             height: 40px;
//             display: flex;
//             object-fit: contain;
//         }

//         &.opened {
//             .header {
//                 &__nav {
//                     transform: translateX(0);
//                 }

//                 &__actions {
//                     transform: translateX(0);
//                 }

//                 &__mobile {
//                     &-btn {
//                         // background: url("@/assets/icons/header-icons/icon-burger-close.svg") no-repeat center center/contain;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 576px) {
//     .header {
//         height: 80px;
//         position: fixed;
//         z-index: 9;
//         top: 0;
//         left: 0;
//         right: 0;

//         &__logo {
//             width: 190px;
//         }

//         &__nav {
//             top: 80px;
//         }

//         &__actions {
//             top: 415px;
//         }
//     }
// }
