.svk-intro {
    min-height: 100vh;
    display: flex;
    padding: 150px 0 0 0;
    position: relative;
    overflow: visible;

    &__content {
        position: relative;
    }

    &__greeting {
        width: 790px;
        display: flex;
        position: relative;
        z-index: 2;
        gap: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;

        &-title {
            color: #377be1;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 57.6px */
            letter-spacing: -0.5px;
        }

        &-desc {
            width: 580px;
            color: #323b49;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 27px */
        }

        &-actions {
            display: flex;
            gap: 10px;
        }
    }

    &__images {
        display: flex;
        height: 700px;
        position: relative;
    }

    &__image {
        position: absolute;
        z-index: 2;

        &:nth-child(1) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 40px;

            fill: rgba(255, 255, 255, 0.2);
            filter: drop-shadow(0px 4px 250px rgba(122, 149, 200, 0.2));
            backdrop-filter: blur(5px);
        }

        &:nth-child(2) {
            bottom: 15%;
            left: 20px;
            border-radius: 12px;
            box-shadow: 40px -8px 200px 2px rgba(0, 0, 0, 0.5);
            // transform: translateZ(-1px) scale(2);

            transform: translateZ(0);
            transition: transform 0.2s;
        }

        &:nth-child(3) {
            top: 30%;
            right: 20px;
            border-radius: 12px;
            box-shadow: -46px 56px 200px 2px rgba(0, 0, 0, 0.5);
        }
    }

    &__bgs {
        background: lightgoldenrodyellow;
        position: absolute;
        overflow: visible;
        z-index: 0;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bg {
        position: absolute;
        width: 800px;
        height: 300px;
        border-radius: 100%;
        border: 1px solid #cbd5e0;

        &:nth-child(1) {
            width: 70vw;
            height: 50vh;
            transform: rotate(32deg);
            animation: breathing 43s ease-in-out infinite;
        }
        &:nth-child(2) {
            width: 95vw;
            height: 75vh;
            transform: rotate(32deg);
            animation: breathing 43s -2s ease-in-out infinite;
        }
        &:nth-child(3) {
            width: 120vw;
            height: 100vh;
            transform: rotate(32deg);
            animation: breathing 43s -4s ease-in-out infinite;
        }
    }
}

@keyframes breathing {
    0% {
        transform: scale(0.5) rotate(23deg);
        opacity: 1;
    }

    25% {
        transform: scale(0.7) rotate(26deg);
        opacity: 0.7;
    }

    60% {
        transform: scale(0.85);
        opacity: 0.4;
    }

    100% {
        transform: scale(0.5) rotate(23deg);
        opacity: 1;
    }
}
