.svk-features {
    padding: 50px 0;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 140px;
        text-align: center;
    }

    &__title {
        color: #1f2937;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
    }

    &__desc {
        color: #323b49;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 30px;
    }
}
